page-account {

  //#loggedout {
  //  padding-top: 50%;
  //  text-align: center;
  //}


  //#fblogin {
  //  padding-top: 10%;
  //}

  ion-card {

    margin-top: 30% !important;
    overflow: visible;

    ion-card-content {

      background-color: map-get($colors, secondary);
      color: #FFFFFF;
      text-align: center;
      padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 4px #FFFFFF;
        display: inline;
      }

      h2 {
        font-size: 3.0rem !important;
        margin-top: .5rem;
        font-weight: bold !important;
        color: white;
      }

      h3 {
        font-size: 1.8rem;
        color: white;
      }

    }

  }



  .login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
  }

  .login-container > .button-row img {
    max-width: 80%;
  }

  .login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
  }

  .login-container .button-row{
    text-align: center !important;
    padding-bottom: 5% !important;
  }
}
