<!--
  Generated template for the Account page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-buttons >
      <button ion-button color="light" round (click)="dismiss()" *ngIf="loggedin">Close</button>
    </ion-buttons>
    <ion-title>Login</ion-title>

    <ion-buttons end>
      <button ion-button color="light" round (click)="dismiss()" *ngIf="!loggedin">Close</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="light" round (click)="logout()" *ngIf="loggedin">Logout</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div  id="loggedout" *ngIf="!loggedin">
    <section class="login-container">
      <div class = "col header text-center">
        <img src="assets/img/slide1.png"/>
      </div>
      <div class = "col button-row text-center" (click)="fbLogin()">
        <img src="assets/img/fbl2.png" />
      </div>
      <div class = "col button-row text-center" (click)="googleLogin()">
        <img src="assets/img/gl2.png" />
      </div>
    </section>
  </div>


  <div  id="loggedin" *ngIf="loggedin">
    <ion-card>
      <ion-card-content>
        <img src="{{profile_picture}}"/>
        <h2>{{full_name}}</h2>
      </ion-card-content>

      <ion-list>
        <ion-item>
          <ion-icon name="mail" item-left></ion-icon>
          <p>Email</p>
          <h2>{{email}}</h2>
        </ion-item>

        <ion-item>
          <ion-icon name="ribbon" item-left></ion-icon>
          <p>Your points</p>
          <h2>{{points}}</h2>
        </ion-item>

        <ion-item>
          <p>Your level</p>
          <img src={{levelpic}}>
        </ion-item>

        <ion-item>
          <ion-icon name="egg" item-left></ion-icon>
          <p>Points to next level</p>
          <h2>{{nextlevel}}</h2>
          <h3>Keep updating waittimes to earn points</h3>
        </ion-item>

      </ion-list>

    </ion-card>
  </div>
</ion-content>
